/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/07/2018, 09:00:47
    Author     : Jefferson
*/

//Fonts
.font-0-9em{ 
    font-size: .9em!important;
}
.font-0-8em{
    font-size: .8em!important;
}
.font-0-7em{
    font-size: .7em!important;
}
.font-1em{
    font-size: 1em!important;
}
.font-1-1em{
    font-size: 1.1em!important;
}
.font-1-2em{
    font-size: 1.2em!important;
}
.font-1-4em{
    font-size: 1.4em!important;
}
.font-1-6em{
    font-size: 1.6em!important;
}
.font-1-8em{
    font-size: 1.8em!important;
}
.font-2em{
    font-size: 2em!important;
}
.font-2-5em{
    font-size: 2.5em!important;
}
.font-candara{
    font-family: 'Candara';
}
.font-palatino{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
.font-mina{
    font-family: 'Mina', sans-serif;
}
.font-ibm-plex-sans{
    font-family: 'IBM Plex Sans', sans-serif;
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-lato{  
    font-family: 'Lato', sans-serif;
}
.font-open-sans{
    font-family: 'Open Sans', sans-serif;
}
.font-open-sans-condesed{
    font-family: 'Open Sans Condensed', sans-serif;
}
.font-montserrat{
    font-family: 'Montserrat', sans-serif;
}

.font-martinesse{
    font-family: 'martinesse'!important;
}
.font-bromello{
    font-family: 'bromello'!important; 
}
@font-face {
    font-family: 'martinesse'; 
    src: url('/assets/utilitiesjp/fonts/martinesse.eot')/*Para navegadores Internet Explorer*/;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'martinesse';
    src: url('/assets/utilitiesjp/fonts/martinesse.ttf') /*Para os demais navegadores*/;
    font-weight: normal; 
    font-style: normal;
}
@font-face {
    font-family: 'bromello';
    src: url('/assets/utilitiesjp/fonts/bromello.otf') /*Para os demais navegadores*/;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bromello';
    src: url('/assets/utilitiesjp/fonts/bromello.ttf') /*Para os demais navegadores*/;
    font-weight: normal;
    font-style: normal;
}
.paragraph-letter-spacin-3px{
    letter-spacing: 3px;
}
.paragraph-letter-spacin-2px{
    letter-spacing: 2px;
}

//endFonts