/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/07/2018, 08:41:18
    Author     : Jefferson
*/
//Border
@borderBoxAuto: 2px solid black;
//endBorder

//Color
@colorBackScrollbar: #d2d3d4;
@colorScroll: #96989a;
//endcColor
body {
  margin: 0;
  padding: 0;
}
/*Box(div) it grows accordin to its content*/
.box-auto {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  white-space: normal;
}
/*Box(div)it grows according to its content 
breaking the text at the end with (...)*/

.box-auto-text {
  width: auto;
  height: auto;
  max-width: 100%;
  display: inline-block;
  .overflow-text-with-ellipsis;
}

/*Add (...) if overflow of text*/
.overflow-text-with-ellipsis {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 100%;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;

  &:before {
    /* points in the end */
    content: "...";
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
  }
  &:after {
    /* points in the end */
    content: "";
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
  }
}
.overflow-hidden {
  overflow: hidden;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scroll-custom::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scroll-custom::-webkit-scrollbar-track-piece {
  background-color: @colorBackScrollbar;
  -webkit-border-radius: 0px;
}
.scroll-custom::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #666;
  -webkit-border-radius: 0px;
}
.scroll-custom::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #666;
  -webkit-border-radius: 0px;
}
.scroll-custom::-webkit-scrollbar-thumb {
  background: @colorScroll!important;
  height: 30px;
}
.top0 {
  top: 0;
}
.bottom0 {
  bottom: 0;
}
.right0 {
  right: 0;
}
.left0 {
  left: 0;
}
//Size
.m-w-none {
  max-width: none;
}
.m-w-100 {
  max-width: 100%;
}
.m-h-100 {
  max-height: 100%;
}
.min_h_95pc {
  min-height: 95%;
}

.min_h_95vh {
  min-height: 95vh;
}
.min_h_5vh {
  min-height: 5vh;
}
.min_h_100vh {
  min-height: 100vh;
}
.h-auto {
  height: auto !important;
}
//endSize

//Transforms
.rotate-crosbrowser(@deg:90deg) {
  transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -webkit-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
}
.translate-crosbrowser(@x:-50%,@y:-50%) {
  -ms-transform: translate(@x, @y);
  -webkit-transform: translate(@x, @y);
  -moz-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
  transform: translate(@x, @y);
}
//endTransforms

//Backs
.background-image-none {
  background-image: none !important;
}
.back-transparent {
  background: transparent !important;
}
//endBacks

//Positions
.zindex-up-all {
  z-index: 9999999999;
}
.b-0 {
  bottom: 0 !important;
}
.r-0 {
  right: 0 !important;
}
.l-0 {
  left: 0 !important;
}
//endPositions

//Box
.tag-box(@size:100px,@back: black,@color:white,@content:"") {
  overflow: hidden;
  &:before {
    content: "";
    height: @size;
    width: @size;
    background: @back;
    position: absolute;
    right: -(@size / 2);
    top: -(@size / 2);
    .rotate-crosbrowser(45deg);
  }
  &:after {
    font-family: "Font Awesome 5 Free" !important;
    font-style: normal;
    content: @content !important;
    font-weight: 900;
    color: @color;
    top: @size / 20;
    position: absolute;
    right: @size / 10;
  }
}
//endBox

//None
.before-none {
  &:before {
    content: none !important;
  }
}
.after-none {
  &:after {
    content: none !important;
  }
}
.padding-before-none {
  &:before {
    padding: 0 !important;
  }
}
.padding-after-none {
  &:after {
    padding: 0 !important;
  }
}
//endNone
//Border
.outline-none {
  outline: none !important;
}
//endBorder

//Links
.disabled-link {
  a {
    text-decoration: none !important;
    color: inherit !important;
    &:hover {
      text-decoration: none !important;
      color: inherit !important;
    }
    &:active {
      text-decoration: none !important;
      color: inherit !important;
    }
    &:visited {
      text-decoration: none !important;
      color: inherit !important;
    }
    &:focus {
      text-decoration: none !important;
      color: inherit !important;
    }
  }
}
.cursor-pointer {
  cursor: pointer !important;
}

.cursor-zoomin {
  cursor: zoom-in !important;
}

//endLinks

//Text
//determina line height
.line-height-1 {
  .line-height-default(1);
}
.line-height-2 {
  .line-height-default(2);
}
.line-height-3 {
  .line-height-default(3);
}
.line-height-default(@lineHeight:1) {
  line-height: @lineHeight!important;
}

//end Text

//typewriter
.flashes-type-writer {
  &::after {
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: flashes 0.7s infinite;
  }
}

@keyframes flashes {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
//end typewriter
